{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_track_list') }}" class="btn btn-primary">Back <span class="fa fa-arrow-circle-left"></span></a>
                </div>
                <h1>Edit Track</h1>

                {{ form_start(trackForm) }}
                {{ form_row(trackForm.name, {
                    'label': 'Track Title'
                }) }}
                {{ form_row(trackForm.singer, {
                    'label': 'Who is singer?'
                }) }}
                {{ form_row(trackForm.genre, {
                    'label': 'What a genre?'
                }) }}
                {{ form_row(trackForm.year, {
                    'label': 'On what year it was written?'
                }) }}
                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(trackForm) }}
            </div>
        </div>
    </div>
{% endblock %}