{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('homepage') }}" class="btn btn-primary pull-left">Back <span class="fa fa-arrow-circle-left"></span></a>
                    <h1 style="display:inline-block;margin: 0 50px;" >Genres</h1>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>Genres</th>
                    </tr>
                    {% for genre in genres %}
                        <tr>
                            <td>{{ genre.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}