<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Klika Music!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="logo"><a href="{{ path('homepage') }}"  style="color:white">Klika Music</a></h1>

                <ul class="navi">
                    {% if is_granted('ROLE_USER') %}
                        <li><a class="btn btn-danger" href="{{ path('admin_index') }}">Go To Admin</a></li>&nbsp;
                        <li><a class="btn btn-warning" href="{{ path('security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="btn btn-warning" href="{{ path('security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
                <div style="color:white;">
                    To be able to create/update/delete the tracks, plase login as admin:admin<br />
                    or register a new user by clicking login->register.<br />
                    And go to Admin.
                </div>
            </div>
        </div>
    </div>

</header>

<div class="main-content">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>

<div class="footer">
    <p class="footer-text">Made for Klika</p>
</div>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
