{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_index') }}" class="btn btn-primary pull-left">Back <span class="fa fa-arrow-circle-left"></span></a>
                    <h1 style="display:inline-block;margin: 0 50px;" >Genres</h1>
                    <a href="{{ path('admin_genre_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for genre in genres %}
                        <tr>
                            <td>{{ genre.name }}</td>
                            <td>
                                <a href="{{ path('admin_genre_edit', {'id': genre.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                                <a href="{{ path('admin_genre_delete', {'id': genre.id}) }}" class="btn btn-xs btn-danger"><span class="fa fa-close"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}