{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Admin Panel</h1>
                <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_track_list') }}" class="btn btn-primary">Tracks <span class="fa fa-list"></span></a>
                    <a href="{{ path('admin_singer_list') }}" class="btn btn-primary">Singers <span class="fa fa-list"></span></a>
                    <a href="{{ path('admin_genre_list') }}" class="btn btn-primary">Genres <span class="fa fa-list"></span></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}