/******************************
Flexbox Layout
*******************************/
*{
    margin:0;
    padding:0;
}
.header, .navi, .music-creature-container, .music-details, .comments-container, .footer {
    display: -webkit-flex;
    display: flex;
}

.header {
    justify-content: space-between;
}

.header .logo{
    margin:0 auto;
    color:#fff;
}

.main-content {
    min-height: 300px;
}

.footer {
    justify-content: center;
}

@media all and (min-width: 700px) {
    .music-creature-container {
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 30px;
    }
}

/******************************
Top Nav General Styling
*******************************/

body {
    margin: 0;
    color: #3a3a3a;
}

.header {
    padding: 10px 0;
    margin: 0 auto;
    background-color: #337ab7;
}

.navi {
    list-style: none;
}

.navi {
    padding-top: 25px;
}



@media all and (min-width: 1030px) {
    .header {
        min-width: 768px;
    }

}

/******************************
FOOTER Styling
*******************************/

.footer {
    padding: 20px;
    background: #cccccc;
    font-size: 1.3em;
    width:100%;
    position: fixed;
    bottom:0px;
}

.footer-text {
    color: #3a3a3a;
}

.footer-text > a {
    color: #3a3a3a;
}

.heart {
    color: red;
}
