{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                <a href="{{ path('homepage') }}" class="btn btn-primary pull-left">Back <span class="fa fa-arrow-circle-left"></span></a>
                <h1 style="display:inline-block;margin: 0 50px;" >Tracks</h1>
            </div>
            <div class="col-xs-8">


                <table class="table table-striped">
                    <tr>
                        <th>{{ knp_pagination_sortable(tracks, 'Singer', 'singer.name') }}</th>
                        {% if app.request.queryString|length > 50 %}
                             <th>{{ knp_pagination_sortable(tracks, 'Song', 'name') }}</th>
                        {% else %}
                             <th>{{ knp_pagination_sortable(tracks, 'Song', 'track.name') }}</th>
                        {% endif %}
                        <th>{{ knp_pagination_sortable(tracks, 'Genre', 'genre.name') }}</th>
                        {% if app.request.queryString|length > 50 %}
                             <th>{{ knp_pagination_sortable(tracks, 'Year', 'year') }}</th>
                        {% else %}
                             <th>{{ knp_pagination_sortable(tracks, 'Year', 'track.year') }}</th>
                        {% endif %}
                    </tr>

                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.singer.name }}</td>
                            <td>{{ track.name }}</td>
                            <td>{{ track.genre.name }}</td>
                            <td>{{ track.year }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="row">

                    <div class="col-xs-8">
                        <div class="navigation text-center">
                            {{ knp_pagination_render(tracks) }}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="navigation" style="float:right;">
                            <ul class="pagination">
                                <li><a href="{{ path('track_list', {'limit': 10}) }}&{{ app.request.queryString }}">10</a></li>
                                <li><a href="{{ path('track_list', {'limit': 25}) }}&{{ app.request.queryString }}">25</a></li>
                                <li><a href="{{ path('track_list', {'limit': 50}) }}&{{ app.request.queryString }}">50</a></li>
                                <li><a href="{{ path('track_list', {'limit': 100}) }}&{{ app.request.queryString }}">100</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <h2>Filter</h2>
                {{ form_start(trackfilterForm) }}
                    {{ form_row(trackfilterForm.singer, {
                        'label': 'Singer'
                    }) }}
                    {{ form_row(trackfilterForm.genre, {
                        'label': 'Genre'
                    }) }}
                    {{ form_row(trackfilterForm.year, {
                        'label': 'Year'
                    }) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Filter</button>
                {{ form_end(trackfilterForm) }}
            </div>
        </div>
    </div>


{% endblock %}
