{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_singer_list') }}" class="btn btn-primary">Back <span class="fa fa-arrow-circle-left"></span></a>
                </div>
                <h1>Edit Singer</h1>

                {{ form_start(singerForm) }}
                    {{ form_row(singerForm.name) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(singerForm) }}
            </div>
        </div>
    </div>
{% endblock %}