{#
/**
 * @file
 * Twitter Bootstrap v3 Sorting control implementation.
 *
 * @author Afolabi Olayinka <folabiolayinka@gmail.com>
 */
#}

<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} style="display:inline-block;">
<span class="pull-right">
        {% if app.request.get('sort') == key %}
            {% if app.request.get('direction') == 'desc' %}
                <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
            {% else %}
                <i class="glyphicon glyphicon-sort-by-attributes"></i>
            {% endif %}
        {% else %}
            <i class="glyphicon glyphicon-sort" style="color: #d2d6de;"></i>
        {% endif %}
    </span>
{{ title }}
</a>